<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691423417477-pl1s5t2pifuf1mq5hspj8v1i3b2lv57c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691423417477-pl1s5t2pifuf1mq5hspj8v1i3b2lv57c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691423417477-2ljcknktl88cl6uqo65kn7elal7656n3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdQN_l3DKOGUV5wnTrYtW5brlAFjmhNTs</string>
	<key>GCM_SENDER_ID</key>
	<string>691423417477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iceberg.chatty.th</string>
	<key>PROJECT_ID</key>
	<string>chatty-838c4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-838c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691423417477:ios:b8f974c5a00b6db11845ec</string>
	<key>DATABASE_URL</key>
	<string>https://chatty-838c4.firebaseio.com</string>
</dict>
</plist>